<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style>
</style>
<title>Where work happens | Lasck</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='filecss.css')}}"/>
</head>

<body onscroll="seguibarra()" onresize="ridimensionamento()" onload="ridimensionamento()">

<barra id="miabarra"><div>
<imagehappens><img src="{{url_for('static',filename='Banner.png')}}" alt="Banner" width="70" height="30">
</imagehappens>
</div>
<div id="linkbarra" style="position:absolute; bottom:5px; right:5px;">
<a href="features">Why Lasck?</a> | 
<a href="pricing">Pricing</a> | 
<a href="about">About Us</a> | 
<a href="get-started">Find Your Workspace</a> | 
<a href="create" style=
"border:1px solid #505050; padding:2px 2px; border-radius:3px;">Create Workspace</a>
</div>
</barra>

<br><br><br><br>

<p style="float:left;">
<imagehappens>
<img src="{{url_for('static',filename='immagine.png')}}" alt="immagine" width="450" height="400">
</imagehappens>
</p>
<workhappens><b>Where Work<br>Happens</b></workhappens></b><br>
<workdesc><br>When your team needs to kick off a project, hire a new employee, deploy some code, review a sales contract, finalize next year's budget, measure an A/B test, plan your next office opening, and more, Lasck has you covered.
</workdesc>

<br><br>

<form><input id="mettimail" type="text" placeholder="Email address">
<span class="getstarted"><b>GET&nbspSTARTED</b></span></form>
<br>
<span style="font-size:12px">
Already using Lasck?
<a href="{{url_for('signIn')}}">Sign in</a>.
</span>

<br><br><br><br><br><br>

<partegrigia></partegrigia>

<center>
<span style="font-size:30px;"><b>You're in good company</b></span>
<br><br>
Millions of people around the world have already made Lasck the place where their work happens.
<br><br><br><br><br>

<discoverwhy><b>DISCOVER&nbspWHY</b></discoverwhy>

<br><br><br><br><br><br>

<table id="sponsor">
<tr id="sponsor">
<td id="sponsor">$$$$$$$</td> <td id="sponsor">SPONSOR</td> <td id="sponsor">$$$$$$$</td>
</tr>
<tr id="sponsor">
<td id="sponsor">SPONSOR</td><td id="sponsor">$$$$$$$</td><td id="sponsor">SPONSOR</td>
</tr>
</table>


<table id="tryfree">
<tr><td id="tryfree">
<b><font size="5px">Try it for free</font></b><br>
Already using Lasck? <a href="signin.html">Sign in</a>.
</td>
<td id="tryfree">

<input id="mettimail" type="text" placeholder="Email address">
<span class="getstarted"><b>GET&nbspSTARTED</b></span>

</td>

</table>


<hr color="#F0F0F0">
</center>
<br><br><br>

<p style="float:left">
<imagehappens>
<a href=""><img src="{{url_for('static',filename='Banner.png')}}" width="70px" height="30px"></a>
</imagehappens>
</p>

<span style="float:right">

<miofooter>
<table id="linkfooter">
<tr>
<td id="lf"><b>COMPANY</b></td>
<td id="lf"><b>PRODUCT</b></td>
<td id="lf"><b>RESOURCES</b></td>
<td id="lf"><b>EXTRAS</b></td>
</tr>
<tr>
<td id="lf">
<a href="">About Us</a>
</td>
<td id="lf">
<a href="">Why Lasck?</a>
</td>
<td id="lf">
<a href="">Download</a>
</td>
<td id="lf">
<a href="">Podcast</a>
</td></tr>
<tr>
<td id="lf">
<a href="">Careers</a>
</td>
<td id="lf">
<a href="">Enterprise</a>
</td>
<td id="lf">
<a href="">Help Center</a>
</td>
<td id="lf">
<a href="">Lasck Shop</a>
</td></tr>
<tr>
<td id="lf">
<a href="">Blog</a>
</td>
<td id="lf">
<a href="">Customer Stories</a>
</td>
<td id="lf">
<a href="">Guides</a>
</td>
<td id="lf">
<a href="">Lasck at Work</a>
</td></tr>
<tr>
<td id="lf">
<a href="">Press</a>
</td>
<td id="lf">
<a href="">Pricing</a>
</td>
<td id="lf">
<a href="">Partners</a>
</td>
<td id="lf">
<a href="">Lasck Fund</a>
</td></tr>
<tr>
<td id="lf">
<a href="">Brand Guidelines</a>
</td>
<td id="lf">
<a href="">Security</a>
</td>
<td id="lf">
<a href="">Events</a>
</td><td></td></tr>
<tr><td></td><td></td><td id="lf">
<a href="">App Directory</a>
</td><td></td></tr>
<tr><td></td><td></td><td id="lf">
<a href="">API</a>
</td><td></td></tr>
<tr><td></td><td></td><td id="lf">
<a href="">Gather Report</a>
</td><td></td></tr>
<tr><td></td><td></td><td id="lf">
<a href="">eBooks</a>
</td><td></td></tr>
</table>
</miofooter>
</span>

<partegrigia2></partegrigia2>

<div style="float:left; position:relative; left: 10px;"><barra>
<a href=""><b>Status</b></a> | 
<a href=""><b>Privacy & Term</b></a> | 
<a href=""><b>Contact Us</b></a>
</barra></div>
<div style="float:right; font-size: 20px;">
<span class="fa fa-twitter"></span> | <span class="fa fa-youtube"></span> | <span class="fa fa-facebook"></span>
</div>

<usaicookie id="chiudi">
<closebutton id="chiudi" onclick="toglicookie()">x</closebutton>
<br>
Lasck uses cookies to allow us to better understand how the site is used. By continuing to use this site, you consent to this policy.
<a href="cookie-policy">Click to learn more.</a>
</usaicookie>


<script src="{{url_for('static',filename='mieiscript.js')}}"></script>
</body>
</html>
